<main>
    <h1>Welcome to Our Website</h1>
    <div>
        <a routerLink="/login" class="button">Sign In</a>
        <a routerLink="/tableReservation" class="button">Make a Reservation</a>
    </div>
</main>
