<div class="reservation-list">
    <h2>Reservations</h2>
    <ul>
      <li *ngFor="let reservation of reservations">
        <span>{{ reservation.date }} at {{ reservation.startTime }} for {{ reservation.numberOfGuests }} guests</span>
        <!-- <button (click)="deleteReservation(reservation.id)">Delete</button> -->
      </li>
    </ul>
</div>