.label {
    font-weight: bold;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    height: 100vh;
}

mat-card-actions {
    justify-content: flex-end;
}