<div class="container">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Reservation Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
                <span class="label" matLine>Reservation ID: </span>
                <span matLine>{{ reservation?.id }}</span>
            </mat-list-item>
            <mat-list-item>
                <span class="label" matLine>Date: </span>
                <span matLine>{{ reservation?.date | date }}</span>
            </mat-list-item>
            <mat-list-item>
                <span class="label" matLine>Start Time: </span>
                <span matLine>{{ reservation?.startTime }}</span>
            </mat-list-item>
            <mat-list-item>
                <span class="label" matLine>Number of Guests: </span>
                <span matLine>{{ reservation?.numberOfGuests }}</span>
            </mat-list-item>
            <mat-list-item>
                <span class="label" matLine>Comment: </span>
                <span matLine>{{ reservation?.comment }}</span>
            </mat-list-item>
            <mat-list-item>
                <span class="label" matLine>First Name: </span>
                <span matLine>{{ reservation?.appUser?.firstName }}</span>
            </mat-list-item>
            <mat-list-item>
                <span class="label" matLine>Last Name: </span>
                <span matLine>{{ reservation?.appUser?.lastName }}</span>
            </mat-list-item>
            <mat-list-item>
                <span class="label" matLine>Email: </span>
                <span matLine>{{ reservation?.appUser?.email }}</span>
            </mat-list-item>
            <mat-list-item>
                <span class="label" matLine>Phone number: </span>
                <span matLine>{{ reservation?.appUser?.phoneNumber }}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="goBack()">Back</button>
        </mat-card-actions>
      </mat-card>
</div>