<div class="container">
  <h1>Table Reservation</h1>
  <form [formGroup]="reservationForm" (ngSubmit)="makeReservation()">

    <div>
      <label>Number of Guests:</label>
      <input type="number" formControlName="numberOfGuests" required>
      <div *ngIf="reservationForm.get('numberOfGuests')?.invalid && reservationForm.get('numberOfGuests')?.touched">
        <span *ngIf="reservationForm.get('numberOfGuests')?.errors?.['required']" class="error-message">Number of guests is required</span>
        <span *ngIf="reservationForm.get('numberOfGuests')?.errors?.['min']" class="error-message">Number of guests must be at least 1</span>
        <span *ngIf="reservationForm.get('numberOfGuests')?.errors?.['max']" class="error-message">Number of guests cannot be more than 12. Please contact the restaurant for larger reservations.</span>
      </div>
    </div>

    <div>
      <label>Date:</label>
      <input type="date" formControlName="date" required>
      <div *ngIf="reservationForm.get('date')?.invalid && reservationForm.get('date')?.touched">
        <span *ngIf="reservationForm.get('date')?.errors?.['required']" class="error-message">Date is required</span>
      </div>

      <label>Start Time:</label>
      <select formControlName="startTime" required>
        <option *ngFor="let time of timeOptions" [value]="time">{{ time }}</option>
      </select>
      <div *ngIf="reservationForm.get('startTime')?.invalid && reservationForm.get('startTime')?.touched">
        <span *ngIf="reservationForm.get('startTime')?.errors?.['required']" class="error-message">Start time is required</span>
      </div>
    </div>

    <div>
      <label>Comment:</label>
      <textarea formControlName="comment" rows="4" cols="35"></textarea>
    </div>

    <div>
      <label>First Name:</label>
      <input type="text" formControlName="firstName" required>
      <div *ngIf="reservationForm.get('firstName')?.invalid && reservationForm.get('firstName')?.touched">
        <span *ngIf="reservationForm.get('firstName')?.errors?.['required']" class="error-message">First name is required</span>
      </div>

      <label>Last Name:</label>
      <input type="text" formControlName="lastName" required>
      <div *ngIf="reservationForm.get('lastName')?.invalid && reservationForm.get('lastName')?.touched">
        <span *ngIf="reservationForm.get('lastName')?.errors?.['required']" class="error-message">Last name is required</span>
      </div>
    </div>

    <div>
      <label>Phone Number:</label>
      <input type="tel" formControlName="phoneNumber" required>
      <div *ngIf="reservationForm.get('phoneNumber')?.invalid && reservationForm.get('phoneNumber')?.touched">
        <span *ngIf="reservationForm.get('phoneNumber')?.errors?.['required']" class="error-message">Phone number is required</span>
      </div>

      <label>Email Address:</label>
      <input type="email" formControlName="email" required>
      <div *ngIf="reservationForm.get('email')?.invalid && reservationForm.get('email')?.touched">
        <span *ngIf="reservationForm.get('email')?.errors?.['required']" class="error-message">Email is required</span>
        <span *ngIf="reservationForm.get('email')?.errors?.['email']" class="error-message">Invalid email format</span>
      </div>
    </div>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <button type="submit">Reserve a Table</button>
  </form>
</div>
