<main>
    <div class="login-container">
        <h2>Log in to see your reservations</h2>
        <div *ngIf="error" class="error-message">
            Invalid username or password.
        </div>
        <div *ngIf="logout">
            You have been logged out.
        </div>
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <div><label> Username : <input type="text" name="username" [(ngModel)]="username" required /> </label></div>
            <div><label> Password: <input type="password" name="password" [(ngModel)]="password" required /> </label></div>
            <div><button type="submit" [disabled]="loginForm.invalid">Sign In</button></div>
        </form>
    </div>
</main>