<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Login</a></li>
      <li class="nav-item"><a routerLink="/tableReservation" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Make a Reservation</a></li>
      <li *ngIf="isAdminUser"><a routerLink="/api/admin/reservationManagement/reservations" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Reservations</a></li>
      <li *ngIf="isAdminUser"><a routerLink="/api/admin/userManagement/users" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Users</a></li>
      <li *ngIf="isAdminUser"><a routerLink="/api/admin/tableManagement/tables" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Tables</a></li>
      <li *ngIf="isAdminUser"><a routerLink="/api/admin/loyaltyCardManagement/loyaltyCards" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Loyalty Cards</a></li>
      <li *ngIf="isLoggedInUser"><a (click)="logout()" routerLinkActive="active" class="nav-link">Logout</a></li>
    </ul>
</nav>
  