.navbar {
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 5vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .nav-list {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      margin: 10px 0;
    }
}
  