<div class="reservation-list">
    <h2>Reservations</h2>
    <table mat-table [dataSource]="reservations" class="mat-elevation-z8">

        <!-- Date -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.date | date}} </td>
        </ng-container>

        <!-- Start Time -->
        <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef> Start Time </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.startTime}} </td>
        </ng-container>

        <!-- Number of Guests -->
        <ng-container matColumnDef="numberOfGuests">
            <th mat-header-cell *matHeaderCellDef> Number of Guests </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.numberOfGuests}} </td>
        </ng-container>

        <!-- User Name -->
        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.appUser.firstName}} {{reservation.appUser.lastName}} </td>
        </ng-container>

        <!-- User Email -->
        <ng-container matColumnDef="userEmail">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.appUser.email}} </td>
        </ng-container>

        <!-- User Phone -->
        <ng-container matColumnDef="userPhone">
            <th mat-header-cell *matHeaderCellDef> Phone number</th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.appUser.phoneNumber}} </td>
        </ng-container>

        <!-- Table Number -->
        <ng-container matColumnDef="tableNumber">
            <th mat-header-cell *matHeaderCellDef> Table Number </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.restaurantTables[0] || "No table yet"}} </td>
        </ng-container>

        <!-- Comment -->
        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> Comment </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.comment || "No comment"}} </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let reservation">
                <button mat-button color="primary" (click)="editReservation(reservation.id)">Edit</button>
                <button mat-button color="warn" (click)="deleteReservation(reservation.id)">Delete</button>
                <button mat-button color="accent" (click)="viewDetails(reservation.id)">Details</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>