<div class="container">
    <h2>Edit reservation</h2>
    <form [formGroup]="reservationForm" (ngSubmit)="updateReservation()">
        <div>
          <label for="date">Date</label>
          <input id="date" type="date" formControlName="date">
        </div>
      
        <div>
          <label for="startTime">Start Time</label>
          <select id="startTime" formControlName="startTime">
            <option *ngFor="let time of timeOptions" [value]="time">{{time}}</option>
          </select>
        </div>
      
        <div>
          <label for="numberOfGuests">Number of Guests</label>
          <input id="numberOfGuests" type="number" formControlName="numberOfGuests">
        </div>
      
        <div>
          <label for="comment">Comment</label>
          <input id="comment" type="text" formControlName="comment">
        </div>
      
        <div>
          <label for="firstName">First Name</label>
          <input id="firstName" type="text" formControlName="firstName">
        </div>
      
        <div>
          <label for="lastName">Last Name</label>
          <input id="lastName" type="text" formControlName="lastName">
        </div>
      
        <div>
          <label for="phoneNumber">Phone Number</label>
          <input id="phoneNumber" type="text" formControlName="phoneNumber">
        </div>
      
        <div>
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email">
        </div>

        <div *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </div>
      
        <button type="submit">Edit</button>
        <button (click)="goBack()">Back</button>
      </form>
</div>